form{
    width: 500px;
    border: 1px solid rgb(188, 208, 246);
    padding: 60px;
    margin: 150px auto 0 auto;
}

p{
    background: lightgray;
    padding: 8px;
}

.name{
    margin: 12px 0px;
    display: flex;
}

.gtinh{
    margin-top: 12px;
    padding-right: 15px;
}

.radio, .khoa {
    margin-left: 20px;
    border: 1px solid rgb(87, 137, 245);
}

.lab{
    background: cornflowerblue;
    padding: 8px 10px;
    border: 2px solid blue;
    width: 25%;
    display: block;
    color: white;
}

.inp{
    margin-left: 20px;
    width: 60%;
    border: 1px solid rgb(87, 137, 245);
}

button{
    background: rgb(4, 129, 44);
    padding: 8px 10px;
    border: solid 2px rgb(154, 154, 232);
    width: 25%;
    display: block;
    color: white;
    border-radius: 6px;
    margin: 30px auto 0 auto;
}